/** Featured shops */
.featured-shops-box {
    padding:1.5em 0;
    background:transparent;
    border:0 !important;
}
.featured-shops-box .fl {
    float: left;
}
.featured-shops-box .overflow-hidden {
    overflow: hidden;
}
.featured-shops-box .bg-white {
    background: #fff;
    border: 1px solid #d0d3d6;
}
.featured-shops-box .border-radius {
    border-radius: 4px;
}
.featured-shops-box .margin-0 {
    margin: 0;
}
.featured-shops-box .margin-top-sm {
    margin-top: 20px;
}
.featured-shops-box .margin-right-sm {
    margin-right: 20px;
}
.featured-shops-box .black, .featured-shops-box a.black, .featured-shops-box .black a {
    color: #313943;
    text-decoration: none;
}
.featured-shops-box .bold {
    font-weight: 700;
}
.featured-shops-box .display-block {
    display: block;
}
.featured-shops-box .ad-box-rectangle-category-listing {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    line-height: 1.625;
    font-weight: 400;
    color: #777f89;
}
.featured-shops-box .ad-box-rectangle-category-listing h2 {
    font-size: 26px;
    line-height: 36.4px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #515d6c;
}
.featured-shops-box .ad-box-rectangle-category-listing img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}
.featured-shops-box .ad-box-rectangle-category-listing .box-header,
.featured-shops-box .ad-box-rectangle-category-listing .box-body {
  padding: 15px 0;
}
.featured-shops-box .ad-box-rectangle-category-listing .box-header {
  background: #edeff0;
  border-bottom: 1px solid #d0d3d6;
}
.featured-shops-box .ad-box-rectangle-category-listing h2 a {
    color: #515d6c;
    text-decoration: none;
}

.featured-shops-box-preview .box-classifieds { height:auto; }
.featured-shops-box-preview .classified-details img { width:100%; }
.featured-shops-box-preview .classified-details .editor-actions { color:#fff; position:absolute; top:auto; bottom:0; left:15px; right:15px; background-color:rgba(0, 0, 0, .5); text-align:right; opacity:.5; display:block; border-radius:0 0 4px 4px; }
.featured-shops-box-preview .classified-details .editor-actions a { color:#009fe3; }
.featured-shops-box-preview .classified-details .editor-actions a:hover { text-decoration:none; }
.featured-shops-box-preview .classified-details:hover .editor-actions { opacity:1; }
.featured-shops-box-preview .classified-details .editor-actions .action-btn { margin-right:10px; cursor:pointer; }
.featured-shops-box-preview .classified-details .editor-actions .remove-from-shopping-window { color:#d9534f; }
#all_ads_container .img-wrapper { width:180px !important; height:180px !important; display:inline-block; border-radius:4px; }
#all_ads_container .img-wrapper img { width:100%; height:100%; border-radius:4px; }

