/* search by location */

.searchOnMap .listing-section { display:none; height:100%; }
.searchOnMap .listing-section #listingContainer { display:none; }
.searchOnMap .map-section { display:none; height:100%; }

.searchOnMap.filtersView .listing-section { display:block; }
.searchOnMap.mapView .map-section { display:block; }


#searchOnMapMobileFooter { position:fixed; bottom:0; left:0; right:0; height:50px; z-index:100; background-color:#f1f1f1; border-top:1px solid #d0d3d6; }
#searchOnMapMobileFooter .mobile-button { float:left; display:block; height:40px; border-radius:3px; background-color:#009fe3; background-repeat:no-repeat; background-position:center center; box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.25); cursor:pointer; font-size:14px; }
#searchOnMapMobileFooter .mobile-button:hover, #searchOnMapMobileFooter .mobile-button.active { background-color:#515d6c; box-shadow:0 0 8px 0 rgba(0, 0, 0, 0.3); }
#searchOnMapMobileFooter .view-buttons { float:left; height:40px; margin:5px; }
#searchOnMapMobileFooter .view-buttons .view-button { display:none; padding-left:30px; padding-right:5px; background-position:5px center; line-height:40px; color:#fff; }
#searchOnMapMobileFooter .view-buttons .view-button.filters { background-image:url('../img/icn_filters_white.png'); }
#searchOnMapMobileFooter .view-buttons .view-button.map { background-image:url('../img/icn_map_white.png'); }
#searchOnMapMobileFooter .mobile-map { display:none; }
#searchOnMapMobileFooter.map .mobile-map { display:block; }

#searchOnMapMobileFooter.filters .view-buttons .view-button.map { display:block; }
#searchOnMapMobileFooter.map .view-buttons .view-button.filters { display:block; }

#searchOnMapMobileFooter .mobile-map .refreshBtn { float:left; width:40px; height:40px; margin:5px 5px 5px 0; text-align:center; }
.searchOnMap.filtersView .map-section .autoSuggest { display:none; }
.searchOnMap.mapView .map-section .autoSuggest { position:absolute; top:15px; left:15px; right:15px; z-index:1000; }
.searchOnMap.mapView .map-section .autoSuggest input { opacity:0.85; }

#searchOnMapMobileFooter .mobile-filtering { display:none; position:absolute; right:5px; bottom:5px; height:40px; }
#searchOnMapMobileFooter.filters .mobile-filtering { display:block; }
#searchOnMapMobileFooter .mobile-filtering .mobile-button { min-width:40px; margin-left:5px; color:#fff; line-height:40px; padding-left:10px; padding-right:10px; }
#searchOnMapMobileFooter .mobile-filtering .mobile-button.searchBtn { background-position:10px center; background-image:url('../img/icn_search_cover-search_white.png'); padding-left:40px; }

#searchOnMapMobileFooter .ajaxLoading { display:none; display:inline-block; line-height:40px; height:40px; }
#searchOnMapMobileFooter.filters .ajaxLoading { display:none !important; }

#categoryFiltersDiv { display:none; margin-bottom:15px; padding:10px 0; }
#categoryFiltersDiv.has-filters.open { display:block; }
#categoryFiltersDiv > .title { text-align:center; font-weight:600; }

#categoryFiltersDiv #more-filters-div { }

.desktop-buttons { display:none; }

.location-text-filter { margin-top:0; }
.price-filter { margin-top:10px; }
.price-filter .price-to-box { margin-top:10px; }
.currency-switch .currency-item { float:left; display:inline-block; color:#777f89; }
.currency-switch .currency-item:after { content:"|"; color:#777f89; margin:0 5px; opacity:.5; }
.currency-switch .currency-item:last-child:after { content:""; margin:0; }
.currency-switch .currency-item.active, .currency-switch .currency-item:hover { color:#009fe3; cursor:pointer; }
.btn.active { color:#fff; background:#515d6c; border:1px solid #515d6c; text-decoration:none; transition:none; }
.scroll-y { padding:15px; height:100%; display:block; overflow-y:auto; }
#ajaxLoading { line-height:50px; }
.ad-box:not(.mapPreview):hover { box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); }
.ad-box .ad-footer { height:26px; white-space:nowrap; }
.ad-box .ad-footer * { font-size:16px; }
.ad-box .ad-footer .price-euro { font-size:14px; }
.ad-box-default .image-wrapper .meta-right { font-size: 87.5%; z-index:1; pointer-events:none; position:absolute; bottom:10px; right:10px; }
.ad-box-default .image-wrapper .meta-right > span { display:block; }
.ad-box.mapPreview { width:200px; }
.ad-box.mapPreview h3 { max-height: 2.75em !important; overflow:hidden !important; }
.ad-box.mapPreview .ad-footer * { font-size:14px; }
.ad-box.mapPreview .price-euro { margin-left:.5em; }
.ad-box.mapPreview .image-wrapper .pinLeftInfo { position:absolute; left:10px; bottom:10px; z-index:10; text-shadow:0 1px rgba(0,0,0,0.25); }
.ad-box.mapPreview .image-wrapper .pinRightInfo { position:absolute; right:10px; bottom:10px; z-index:10; text-shadow:0 1px rgba(0,0,0,0.25); }
.ad-box.mapPreview .image-wrapper .pinLeftInfo > span, .ad-box.mapPreview .image-wrapper .pinRightInfo > span { display:block; }
.gm-style-iw { width:220px !important; padding:10px; top:15px !important; left:15px !important; background-color:#fff; box-shadow:0 1px 6px rgba(0, 0, 0, 0.35); border-radius:5px; }

@media (min-width: 768px) {
    .searchOnMap .listing-section { display:block; }
    .searchOnMap .listing-section #listingContainer { display:block; }

    .searchOnMap .map-section { display:block; }
    .searchOnMap .map-section .autoSuggest { display:none; }
    .searchOnMap .mobile-view-buttons { display:none; }
    .location-text-filter { margin-top:10px; }
    .price-filter .price-to-box { margin-top:0; }
    #categoryFiltersDiv > .title { display:none; }
    #categoryFiltersDiv.has-filters { display:block; }
    #categoryFiltersDiv #more-filters-div { margin-top:10px; padding-top:15px; border-top:1px solid #dcdcdc; }
    .desktop-buttons { display:block; }
}

@media (min-width: 1024px) {
    #searchOnMapMobileFooter { display:none; }
    .searchOnMap .listing-section { float:left; width:60%; padding-right:0; }
    .searchOnMap .map-section { float:left; width:40%; padding-left:0; }
}
