.list-sortable ul {
    margin:0;
    padding:0 0 0 36px;
    min-height: 36px;
    list-style: none outside none;
}

.list-sortable > ul {
    padding:0;
}

.list-sortable li {
    margin-top: 10px;
}

.list-sortable li.noitems {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}

.list-sortable .placeholder {
    background-color: #ddd;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
}

.list-sortable .sortable_div {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    position: relative;
}

.list-sortable .sortable_div:hover {
    background-color:#fffccc;
}

.list-sortable .disabled .sortable_div, .list-sortable .disabled .sortable_div:hover {
    background-color:#f2dede;
}

.list-sortable .sortable_row {
    height: 26px;
    padding-left: 38px;
}

.drag-me {
    border-right: 1px solid #ddd;
    cursor: move;
    height: 36px;
    left:0;
    position: absolute;
    top:0;
    width: 36px;
    text-align:center;
    font-size:16px;
    line-height:36px;
    color:#616161;
}

.drag-me:hover {
    color:#018be3;
}

.list-sortable .name-cat, .list-fields .name-edit-cfield {
    color: #616161;
    font-size: 15px;
    line-height: 26px;
    padding-right: 120px;
}

.list-sortable .name-cat, .list-fields .name-edit-cfield {
    color: #616161;
    font-size: 15px;
    line-height: 26px;
}

.actions-cat, .actions-edit-cfield {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.actions-cat.labels {
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 15px;
    line-height: 26px;
}

.list-sortable a {
    cursor: pointer;
}

a {
    color: #018be3;
    text-decoration: none;
}

.ui-sortable li ul {
    margin-left: 39px;
    padding: 0;
}

#fieldset_sorter {
    margin: 0;
    padding: 0;
    list-style: none;
}

#filter_sorter {
    min-height:26px;
}

#filter_sorter li {
    margin-top:5px;
}

#filter_sorter .sortable_div {
    padding:0;
}

#filter_sorter .sortable_row {
    padding-left:32px;
}

#filter_sorter .drag-me {
    width:26px;
    height:26px;
    font-size:14px;
    line-height:26px;
}

#filter_sorter .name-cat, #filter_sorter .name-edit-cfield {
    padding-right:0;
}
