.sortable-list ul {
    margin:0;
    padding:0 0 0 36px;
    list-style: none outside none;
}

.sortable-list > ul {
    padding:0;
}

.sortable-list li {
    margin-top: 10px;
}

.sortable-list li:first-child {
    margin-top: 0;
}

.sortable-list li.noitems {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}

.sortable-list .placeholder {
    background-color: #ddd;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
}

.sortable-list .item_div {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    position: relative;
}

.sortable-list .item_div:hover {
    background-color:#fffccc;
}

.sortable-list .disabled .item_div, .sortable-list .disabled .item_div:hover {
    background-color:#f2dede;
}

.sortable-list .item_row {
    height: 30px;
    padding-left: 38px;
}

.drag-me {
    border-right: 1px solid #ddd;
    cursor: move;
    height: 36px;
    left:0;
    position: absolute;
    top:0;
    width: 36px;
    text-align:center;
    font-size:16px;
    line-height:36px;
    color:#616161;
}

.drag-me:hover {
    color:#018be3;
}

.sortable-list .name-cat {
    font-size: 15px;
    line-height: 30px;
}

.sortable-list .name-cat .form-control, .sortable-list .name-cat .btn {
    font-size: 15px;
    line-height: 15px;
    height: 30px;
}

.actions-cat, .actions-edit-cfield {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.sortable-list a {
    cursor: pointer;
}

a {
    color: #018be3;
    text-decoration: none;
}

.ui-sortable li ul {
    margin-left: 39px;
    padding: 0;
}
